@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: black;
	--text: white;
}

html {
	scroll-behavior: smooth;
}

body {
	color: var(--text);
	background: var(--background);
}

@layer utilities {
	/*
	 * Animations
	 */
	.animate {
		@apply transition-all duration-200;
	}
	/* Fade In */
	[data-fade] {
		@apply translate-y-10 opacity-0 transition duration-1000 ease-out motion-reduce:translate-y-0 motion-reduce:opacity-100;
	}
	.fade-in-start [data-fade] {
		@apply translate-y-0 opacity-100;
	}
	.fade-in-start [data-fade='1'] {
		@apply delay-100;
	}
	.fade-in-start [data-fade='2'] {
		@apply delay-200;
	}
	.fade-in-start [data-fade='3'] {
		@apply delay-300;
	}
	.fade-in-start [data-fade='4'] {
		@apply delay-400;
	}
	.fade-in-start [data-fade='5'] {
		@apply delay-500;
	}
	.fade-in-start [data-fade='6'] {
		@apply delay-600;
	}
	.fade-in-start [data-fade='7'] {
		@apply delay-700;
	}
	.fade-in-start [data-fade='8'] {
		@apply delay-800;
	}
	.fade-in-start [data-fade='9'] {
		@apply delay-900;
	}
	/* Scale Up */
	.animate-scale-up {
		@apply hover:scale-105;
	}
	/* Growing Underline */
	.animate-underline {
		@apply relative before:absolute before:bottom-0 before:left-0 before:h-0.5 before:w-0 before:bg-current before:opacity-0 before:transition-all before:duration-500 before:content-[""] hover:before:w-full hover:before:opacity-100;
	}

	/*
	 * Typography
	 */
	/* Whitespace */
	.text-wrap-balance {
		text-wrap: balance;
	}
}
