/* .timelineItem {
	display: flex;
	justify-content: flex-end;
	padding-right: 30px;
	position: relative;
	margin: 10px 0;
	width: 50%;
}

.timelineItem:nth-child(odd) {
	align-self: flex-end;
	justify-content: flex-start;
	padding-left: 30px;
	padding-right: 0;
}

.timelineItemContent {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background-color: grey;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 15px;
	position: relative;
	width: 400px;
	max-width: 70%;
	text-align: right;
}

.timelineItemContent::after {
	content: ' ';
	background-color: grey;
	box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
	position: absolute;
	right: -7.5px;
	top: calc(50% - 7.5px);
	transform: rotate(45deg);
	width: 15px;
	height: 15px;
}

.timelineItem:nth-child(odd) .timelineItemContent {
	text-align: left;
	align-items: flex-start;
}

.timelineItem:nth-child(odd) .timelineIitemContent::after {
	right: auto;
	left: -7.5px;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timelineItemContent time {
	color: #777;
	font-size: 12px;
	font-weight: bold;
}

.timelineItemContent p {
	font-size: 16px;
	line-height: 24px;
	margin: 15px 0;
	max-width: 250px;
}

.timelineItemContent .circle {
	background-color: #fff;
	border: 3px solid #e17b77;
	border-radius: 50%;
	position: absolute;
	top: calc(50% - 10px);
	right: -40px;
	width: 20px;
	height: 20px;
	z-index: 100;
}

.timelineItem:nth-child(odd) .timelineItemContent .circle {
	right: auto;
	left: -40px;
} */
